body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centerStuff {
  display: table;
  margin: auto;
  text-align: center;
}

.iconB {
  background:-moz-linear-gradient(top, #1de9b6 0%, #1dc4e9 100%);
  background: -webkit-linear-gradient(top, #1de9b6 0%,#1dc4e9 100%);
  background: linear-gradient(to bottom, #1de9b6 0%,#1dc4e9 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color:transparent;
}

.header-class {

}