.tipsy { padding: 4px; font-size: 0.8em; background-repeat: no-repeat; }
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: #222222; color: white; max-width: 200px; text-align: center; }
  .tipsy-inner { -moz-border-radius:1px; -webkit-border-radius:1px; }
