/* Base Style */
html,
body {
    height: 100%;
   /* background-image: url(../image/grey.png) ; */
}

h5, h6 {
    margin: 0;
}


/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -40px;
}

#js {
    bottom: 4px;
    left: 4px;
    position: absolute;
    background-color: #333333;
    color: #FFFFFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 300px;
    padding: 6px;
    z-index: 500;
}
#js a {
    color: #CCCCCC;
}

.top_menu {
	font-size: 14px;
}

dl {
	font-size: 14px;
}
/** 
    NAV
**/
#nav_search {
    text-shadow: none;
   /* color: white;*/
}

#nav_about a {
    color: #08c;
}

.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container{width:840px;}

/**
    index
**/
#logo {
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 8%;
}

#index {
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

#helper {
    font-size: 16px;
    display: none;
    margin-top: 24px;
    padding-top: 32px;
}

.home_search {
    height: 34px;
}

.search_help {
    font-weight: 600;
}

.top_hits {
    margin-top: 50%;
    margin-bottom: 8%;
    padding: 8px;
    text-align: right;
    /* Fallback for web browsers that doesn't support RGBa */
    /*background: rgb(0, 136, 204);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 136, 204, 0.1);
    /* For IE 5.5 - 7*/
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#08c, endColorstr=#FFFFFF);
    /* For IE 8*/
   /* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#08c, endColorstr=#FFFFFF)";*/
}

.top_hits ul {
    list-style: none;
}

.radios {
    text-align: left;
    padding-left: 8px;
}


#button_search {
	font-size: 14px;
}

#search_button {
	margin-left: -2px;
}
/**
    BROWSER
**/
#overview ul {
    list-style: none;
}
#browser {
    padding-top: 60px;
    font-size: 14px;
}
div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    text-align: right;
    width: 460px;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    text-align: right;
    margin: 0;
}
 
table {
    clear: both;
    overflow: hidden;
}

/**
    ABOUT
**/
#about {
    padding-top: 60px;
}

/** 
 BROWSE 
**/
.connections {
    text-align: center;
}

/**
    SEARCH
**/
#search {
    padding-top: 60px;
}

.center {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

.search {
    display: none;
    float: right;
    margin: 2px;
    padding: 2px;
    z-index: 100;
    position: absolute;
    top: 43px;
    right: 0;
    height: 38px;
}

.ui-helper-hidden-accessible {
    display: none;
    visibility: hidden;
}

/**
    SEARCH page
**/
#alert_short {
    display: none;
}

#alert_noresults {    
    display: none;
}

#results {
    display: none; 
    position: fixed;
    top: 120px;
    margin: 0 auto;
    height: 100%;
}

#results_search {
    position: absolute;
    float: left;
    overflow: auto;
}

#results_links {
    overflow: auto;
    padding-right: 20px;
    float: right;
}
.loading_results {
	margin-top: 8px;
	width: 200px;
}
#empty_results {

}

#errors {
    display: none;
}

#meta {
    display: none;
}

.results_items {
    list-style: none;
    padding: 0px;
    font-size: 80%;
}
.results_title {
    font-weight: 600;
    width: 100%;
}

.external a:hover {
	text-decoration: none;
	color: #e15620;
}

.bs-docs-sidenav {
    margin: 0 0;
    width: 70%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
    display: block;
    width: 100%;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;  
    background-color: white;
}
.bs-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
    background-color: #08c;
    color: white;
}

/**
    ENTRY
**/
#no_link {
    margin-left: 24px;
    margin-top: 24px;    
}
#content { 
    padding: 0;
    margin: 0;
    z-index: 10;
    background-color: #FFFFFF;
    top: 44px;
    bottom: 0;
    position: fixed;
    right: 0;
    height: 100%;
    float: left;    
}

#content iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#center-container {
    height:80%;
    position:absolute;
    top:8%;
    width:100%;
    margin: 0 auto;
}

#thumb {
    margin: 0 auto;
 /*   width: 80%;*/
}

.synopsis {
  position: relative;margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/* Echo out a label for the example */
.synopsis:after {
  content: "Synopsis";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}
#details {
    width: 100%;
    height: 30%;
    display: block;
    bottom: 0;
    position: absolute;
}

#card {
    
    margin: 0 auto;
    float: none;
    width: 80%;
}

.nav_right a {
    color: white;
}

.synonym_list {
    list-style: none;
}

#no_entry {
    min-height: 200px;
    height: 200px;
}

#infovis {
    position:relative;
    width:100%;
    height:100%;
    margin:0 auto;
    overflow:hidden;
    top: 16px;
}
#diseasebar {
    float: left;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    min-width: 234px;
    max-width: 344px;
    position: fixed;
    padding: 0;
    padding-top: 48px; 
    z-index: 500;
    -moz-box-shadow: -3px 3px 3px rgba(0,0,0,.3);
    -webkit-box-shadow: -3px 3px 3px rgba(0,0,0,.3);
}

#sidebar_menu {
    padding-left: 8px;
    display: none;
    font-size: 14px;
}

#sidebar_menu a:hover {
	text-decoration: none;	
}

.toolbox_left {
	float: left;
	width: 40px;
}

.toolbox_right {
	float: left;
	padding-left: 8px;
}

.toolbox_btn {
	width: 16px;
	padding: 0px 2px;
	cursor: pointer;
	display: block;
	float: left;
}

.btn_space {
	padding: 0 4px;
}

.toolbox_btn_disabled {
	color: #AAAAAA;
}

a.toolbox_btn_disabled:hover {
	color: #AAAAAA;
	text-decoration: none;
}

#tree {
    margin:0;
    width: 100%;
    display: none;
    overflow: hidden;
    overflow-y: auto;
    bottom: 48px;
    clear: both;
    position: absolute;
    top: 68px;
}

#tree .small_size {
    float: right;
    font-size: 8px;
    color: #000000;    
}

#tree .folder_block {
    display: block;
    width: 60%;
}

.tree {
    list-style: none;
    margin:0;
    padding: 0;
    clear: both;
    display: block;
    margin-left: 8px;
    width: 96%;
    z-index: 100;
    margin-top: 8px;
    text-align: left;
}

.tree li {
    cursor: pointer;
    margin: 2px;
    padding: 2px;    
    padding-left: 0;
    margin-left: 0;
}

.tree ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 2px;
}

.tree ul li {
    margin-left: 8px;
    cursor: pointer;
}

.tree ul li ul li ul li {
    margin-left: -8px;
}

.tree .point {
    cursor: pointer;
    width: 96%;
}

.tree .point:hover {
    background: transparent url(../image/icon/blue_arrow.png) center right no-repeat;
}

.tree .activepoint {
    background: transparent url(../image/icon/blue_arrow.png) center right no-repeat;
}

.tree .folder_icon {    
    color: #e15620;
}

.tree .folder:hover {
}

.tree .file_icon {
}

.tree .folder_empty_icon {
    color: #BBBBBB;
}



.tree .folder_empty {
    cursor: pointer;
    opacity: 0.4;
}
.tree .closed:hover {
    cursor: pointer;
    color: #000;
}

/** Frame links **/
.tree .framer {
    cursor: pointer;
}

.tree .framer:hover {
    background-position: -1000px -2px;
}


.framer {    
    cursor: pointer;
}

.framer:hover {
}

.tree .framer:active {
    background-position: 0 0px;
}

#tree .open {
	font-size: 14px;
}

.tree.open {
	font-size: 14px;
}

.open:hover {
}

#frame_loading {
	position: fixed;
	top: 50px;
	right: 8px;
	z-index: 1000;
	margin: 0px;
	font-size: 64%;
	padding: 2px;
	opacity: 0.8;
	width: 64px;
	display: none;
}

/**
    MISC
**/
.popover {
 /*   width:200%;*/
 z-index: 1000;
}

.debug {
    border: 1px dashed red;
}

#ride {
    display: none;
}