
#container {
    width: 100%;;
    height: 100%;
    margin:0 auto;
    position:relative;
}

#left-container, 
#right-container, 
#center-container {
    height:600px;
    position:absolute;
    top:0;
}

#left-container, #right-container {
    width:20px;
    color:#686c70;
    text-align: left;
    overflow: auto;
    background-color:#fff;
    background-repeat:no-repeat;
    border-bottom:1px solid #ddd;
}

#left-container {
    left:0;
    border-left:1px solid #ddd;
    visibility: hidden;
    display: none;
    
}

#right-container {
    right:0;
    border-right:1px solid #ddd;
    visibility: hidden;
    display: none;
}


#center-container {
    width:100%;
    margin: 0 auto;
}

.text {
    margin: 8px;
}

#inner-details {
    list-style:none;
    margin:8px;
}

#log {
    position:absolute;
    top:10px;
    font-size:1.0em;
    font-weight:bold;
    color:#23A4FF;
    visibility: hidden;
    display: none;
}


#infovis {
    position:relative;
    width:100%;
    height:100%;
    margin:0 auto;
    overflow:hidden;
    top: 16px;
}

/*TOOLTIPS
.tip {
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}*/