body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, #root, body, #app {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}

/**
      Search CSS
 */
#logo {
  margin: 20% auto 8%;
}

#index {
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

#search_form {
  margin-left: 20%;
  width: 60%;
}

/**
  Change css of AsyncTypeahead field, in search input
 */
.rbt {
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}

.mark,
mark {
  padding:.0em;
  background-color:#f7e5df
}

.btn  {
  background-color: #46b8da;
  border-color: #46b8da;
}

.btn-primary  {
  background-color: #46b8da;
  border-color: #46b8da;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn {
  color: #fff;
  background-color: #46b8da;
  border-color: #46b8da; /*set the color you want here*/
}

.results_title {
  font-weight: 600;
  width: 100%;
  font-size: 125%;
}

.results_items {
  list-style: none;
  padding: 0px;
  font-size: 80%;
}

#results {
  display: none;
  position: fixed;
  top: 150px;
  margin: 0 auto;
  height: 100%;
}
#results a {
  color: #333;
}

#results_search {
  position: absolute;
  float: left;
  overflow: auto;
}

#results_links {
  overflow: auto;
  padding-right: 20px;
}

.card-body {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

#queryField {
  background-color: #46b8da ;
}

.custom-switch {
  padding-left: 0;
}

.Iframe {
  margin-bottom: 50px;
}
/** { border: 1px solid red; }*/